.canine-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin: 1em;
    max-width: 1200px;
    margin-inline: auto;
   
}
.canine-cards {
    background-color: antiquewhite;
    cursor: pointer;
    overflow: hidden;
    transition: 200ms linear;
}
.canine-cards img {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    object-position:0 10%;
    transition: 200ms linear;
}

.canine-cards button {
    min-width: fit-content;
}

@media (min-width:40em) {
    .canine-section {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width:60em) {
    .canine-section {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (hover:hover) {
    .canine-cards:hover img {
        /* transform: scale(1.1); */
        object-position: 0 0;
    }
}