.canine-cards {
    background-color: antiquewhite;
    cursor: pointer;
    transition: 200ms linear;
}
.canine-cards img {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    object-position:0 10%;
    transition: 200ms linear;
}
@media (hover:hover) {
    .canine-cards:hover img {
        transform: scale(1.1);
        object-position: 0 0;
    }
}