@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --text-color: #000;
    --back-c: #fff;
    --blue: #3c93c9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gantari', sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
button {
    padding: 0.25em 0.5em;
    font-size: 1.2rem;
    background-color: teal;
    border-radius: 0.2em;
    color: #fff;
    transition: 100ms linear;
}

@media (hover:hover) {
    button:hover {
        background-color: #fff;
        outline: 1px solid teal;
        color: teal;
    }
}
.model-bg {
    max-width: 500px;
    margin-inline: auto;
    background-color: antiquewhite;
  }