.Photo-section {
    max-width: 1300px;
    margin-inline: auto;
    text-align: center;
}
.Photo-section figure {
    cursor: pointer;
    border-radius: 0.25em;
    background-color: #FFE7D3;
    transition: 200ms linear;
    max-height: 450px;
}
.Photo-section figure img {
    border-radius: 0.25em;
    object-fit: cover;
    width: 100%;
}
.Photo-section figure figcaption {
    font-size: 1.5rem; 
}
.Photo-section figure button {
    min-width: fit-content;
}
@media (min-width:60em) {
    .Photo-section figure {
        min-height: 342px;
        position: relative;
    }
    .Photo-section figure img {
        max-height: 280px;
        outline: 2px solid var(--text-color);
        outline-offset: -20px;
    }
    .know-more button, .know-more figcaption {
        position: absolute;
        transition: 200ms linear;
    }
    .know-more button {
        right: 50%;
        translate: 50%;
        bottom: -15%;
        z-index: 20;
        opacity: 0;
    }
    .know-more figcaption {
        left: 50%;
        translate: -50%;
    }
}

@media (hover:hover) {
    .Photo-section figure:hover .know-more button{  
        bottom: 8px;
        opacity: 1;
    }
    .Photo-section figure:hover .know-more figcaption {
        z-index: -1;
        opacity: 0;
    }
}
